{% extends 'base.html.twig' %}

{% block title %}BileMo API{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome on BileMo API</h1>

    Access our API:

    <ul>
    {% if app.user %}
        <li>API documentation : <a href="{{ path('doc_api') }}">read</a></li>
        <li>Your account : <a href="{{ path('app_user') }}">check</a></li>
    {% else %}
        <li>Registered user : <a href="{{ path('app_login') }}">sign in</a></li>
        <li>Not yet registered : <a href="{{ path('app_register_index') }}">registration</a></li>
    {% endif %}
    </ul>
</div>
{% endblock %}
