<h1>Activate your account</h1>
<p>Hi {{ user.username }} !</p>
<p>Click on this link below to activate your account:</p>
<p><a href="{{ absolute_url(path('app_verify', {token: token})) }}">link</a></p>
<p>Thanks and welcome!</p>